<div class="container viewItem">
    <div class="row align-items-center">
        <div class="col-md-4"><img src="~/images/holder.png"> </div>
        <div class="col-md-2">TestItem</div>
        <div class="col-md-3">
            <p> Description for the test item</p>
        </div>
        <div class="col-md-3"><input class="btn" type="submit" value="Action"></div>
    </div>
</div>